@import url('./assets/styles/components.css');
@import url('./assets/styles/views.css');

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}