@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
    font-family: "Gibson-Bold";
    src: url("../../assets/fonts/Gibson-Bold.otf");
}

@font-face {
    font-family: "Gibson-Light";
    src: url("../../assets/fonts/Gibson-Light.otf");
}

@font-face {
    font-family: "Gibson-Medium";
    src: url("../../assets/fonts/Gibson-Medium.otf");
}

@font-face {
    font-family: "Gibson-Regular";
    src: url("../../assets/fonts/Gibson-Regular.otf");
}

@font-face {
    font-family: "Gibson-SemiBold";
    src: url("../../assets/fonts/Gibson-SemiBold.otf");
}

@font-face {
    font-family: "Gibson-Thin";
    src: url("../../assets/fonts/Gibson-Thin.otf");
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --red: #dc3545;
    --red-bg: #ec45566b;
    --white: #ffffff;
    --black: #000000;
    --blue: #1946bb;
    --light-blue: #4b73f0;
    --guinda: #4a001f;
    /* --guinda: #8d949e; */
    --rosaClaro: #ffe6ec;
    /* --rosaClaro: #ccd0d5; */
    --rosaAlert: #ffe6ec;
    /* --rosaAlert: #ccd0d5; */
    --morado: #6a0f49;
    /* --morado: #8d949e; */
    --orage: #fdde80;
    --warning: #f9e8c6;
    --light-orange: #ffaf17;
    --green: #d4eddb;
    --green-text: #2a633a;
    --primary-text: #050505;
    --secondary-text: #65676b;
    --input-gray: #f0f2f5;
    --gray-00: #f5f6f7;
    --gray-05: #f2f3f5;
    --gray-10: #ebedf0;
    --gray-20: #dadde1;
    --gray-25: #ccd0d5;
    --gray-30: #bec3c9;
    --gray-45: #8d949e;
    --gray-70: #606770;
    --gray-80: #444950;
    --gray-90: #303338;
    --gray-100: #1c1e21;
    --lightblue-alpha: rgba(75, 115, 240, 0.1);
    --black-alpha-05: rgba(0, 0, 0, 0.05);
    --black-alpha-10: rgba(0, 0, 0, 0.1);
    --black-alpha-15: rgba(0, 0, 0, 0.15);
    --black-alpha-20: rgba(0, 0, 0, 0.2);
    --black-alpha-30: rgba(0, 0, 0, 0.3);
    --black-alpha-40: rgba(0, 0, 0, 0.4);
    --black-alpha-50: rgba(0, 0, 0, 0.5);
    --black-alpha-60: rgba(0, 0, 0, 0.6);
    --black-alpha-80: rgba(0, 0, 0, 0.8);
    --overlay-alpha-80: rgba(244, 244, 244, 0.8);
    --shadow-1: rgba(0, 0, 0, 0.1);
    --shadow-2: rgba(0, 0, 0, 0.2);
    --shadow-5: rgba(0, 0, 0, 0.5);
    --shadow-8: rgba(0, 0, 0, 0.8);
    --animate-duration: 0.7s;
    --primary: #007bff;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
}

* {
    margin: 0px;
    padding: 0px;
    /* border:1px solid red; */
    font-family: "Gibson-Regular";
    letter-spacing: 1.1px;
}

a,
a:link,
a:hover,
a:visited,
a:focus-visible {
    text-decoration: none;
    color: unset;
    border: none;
    outline: none;
    padding: 0;
}

body {
    font-family: "Gibson-Regular", serif;
    letter-spacing: 1.1px;
    font-weight: 500;
    /* overflow: scroll;  */
}

.backgrounPlaca {
    background-image: url(../../assets/images/placa.png);
    background-size: cover;
    height: 25px;
}

.my-menu-text-black .ant-menu-item,
.my-menu-text-black .ant-menu-submenu-title,
.my-menu-text-black .ant-menu-item > a {
    color: black !important;
}

.my-menu-text-black .ant-menu-item:hover,
.my-menu-text-black .ant-menu-submenu-title:hover,
.my-menu-text-black .ant-menu-item > a:hover {
    color: black !important;
}

.my-menu-text-black .ant-menu-item-selected,
.my-menu-text-black .ant-menu-submenu-title-selected,
.my-menu-text-black .ant-menu-item-selected > a {
    color: black !important;
}

.my-menu-text-black .ant-menu-item[data-menu-key="/logout"] {
    margin-top: auto !important;
}

:where(.css-dev-only-do-not-override-1d4w9r2).ant-layout {
    display: flex;
    flex: 0;
    flex-direction: column;
    min-height: 0;
    background: #f5f5f5;
}

:where(.css-dev-only-do-not-override-1d4w9r2).ant-layout-sider {
    position: relative;
    min-width: 0;
     background: none;
    transition: all 0.2s, background 0s;
    flex: 0 0 200px;
}

:where(.css-dev-only-do-not-override-1d4w9r2).ant-layout-sider .ant-layout-sider-children {
    height: 86%;
    margin-top: -0.1px;
    padding-top: 0.1px;
    border: none;
}

:where(.css-dev-only-do-not-override-1d4w9r2).ant-layout-sider .ant-layout-sider-trigger {
    position: fixed;
    bottom: 0;
    z-index: 1;
    height: 48px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    background: #4A001F;
    cursor: pointer;
    transition: all 0.2s;
}

:where(.css-dev-only-do-not-override-1d4w9r2).ant-btn-variant-outlined, :where(.css-dev-only-do-not-override-1d4w9r2).ant-btn-variant-dashed {
    border-color: #ffffff;
    background: #ffffff;
}

.container-menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 20px;
}

.menu-item {
    /* Estilos generales para los elementos del menú */
}

.menu-logout {
    margin-top: auto; /* Empuja el elemento hacia abajo */
}

:where(.css-dev-only-do-not-override-1d4w9r2).ant-btn {
    font-size: 14px;
    height: 32px;
    padding: 0px 15px;
    border-radius: 0px;
}

:where(.css-dev-only-do-not-override-1d4w9r2).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
    border-color: #ffffff;
    border-radius: 8px;
    background: rgba(232, 229, 229, 0.87);
    color: #000;
}

.ant-table-thead > tr > th.custom-header-first {
    background-color: var(--guinda);
    color: white;
    font-weight: bold;
}

:where(.css-1d4w9r2).ant-layout {
    display: flex;
    flex: 0;
    flex-direction: column;
    min-height: 0;
    background: #f5f5f5;
}

:where(.css-1d4w9r2).ant-btn-variant-outlined, :where(.css-1d4w9r2).ant-btn-variant-dashed {
    border-color: #ffffff;
    background: #ffffff;
}

:where(.css-1d4w9r2).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
    color: gray;
    border-color: white;
    background: white;
}

:where(.css-dev-only-do-not-override-1d4w9r2).ant-menu-light.ant-menu-root.ant-menu-inline, :where(.css-dev-only-do-not-override-1d4w9r2).ant-menu-light>.ant-menu.ant-menu-root.ant-menu-inline, :where(.css-dev-only-do-not-override-1d4w9r2).ant-menu-light.ant-menu-root.ant-menu-vertical, :where(.css-dev-only-do-not-override-1d4w9r2).ant-menu-light>.ant-menu.ant-menu-root.ant-menu-vertical {
     border-inline-end: none;
}

:where(.css-dev-only-do-not-override-1d4w9r2).ant-btn-color-dangerous.ant-btn-variant-solid {
    color: #fff;
    background: #ff4d4f;
    border-radius: 4px;
}

.ant-menu .ant-menu-root .ant-menu-inline .ant-menu-light .container-menu .css-dev-only-do-not-override-1d4w9r2 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

:where(.css-1d4w9r2).ant-layout-sider .ant-layout-sider-trigger {
    position: fixed;
    bottom: 0;
    z-index: 1;
    height: 48px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    background: var(--guinda);
    cursor: pointer;
    transition: all 0.2s;
}

:where(.css-dev-only-do-not-override-1d4w9r2).ant-layout-sider-has-trigger {
    padding-bottom: 0;
}

:where(.css-dev-only-do-not-override-1d4w9r2).ant-btn {
    font-size: 14px;
    height: 32px;
    padding: 0px 15px;
    border-radius: 6px;
}

:where(.css-dev-only-do-not-override-o04ybc).ant-layout {
    display: flex;
    flex: 0;
    flex-direction: column;
    min-height: 0;
    background: #f5f5f5;
}

:where(.css-dev-only-do-not-override-idzg2z).ant-form-item .ant-form-item-control-input {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 0;
}

